name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}] # Her gece güncelle
  workflow_dispatch: # Manuel çalıştırma izni
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}
          user: mustafahallal
          template: classic
          base: ""
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
